<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="indomaret_menu_root" name="Indomaret" sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <!-- <menuitem id="indomaret_barang_menu_categ" name="Barang" parent="indomaret_menu_root" sequence="10"/> -->

   <!-- This Menu Item Must have a parent -->
   <menuitem id="indomaret_transaksi_menu_categ" name="Transaksi" parent="indomaret_menu_root" sequence="40"/>
</odoo>